
<div> 
    <div style="justify-content: center; display:flex; flex-wrap:wrap;">
        <img src="@nationality" alt="Nationality" title="@nationalityText" class="five-houses-icon" style="margin-bottom: -5%;height:60%; width:60%; z-index:1000;" />

        <svg viewBox="0 0 150 50" style="width:100%; height: 100%;">
            <rect x="35" y="0" width="8" height="50" fill="#c9ae42" stroke="#9e8421" stroke-width="1" />
            <path d="M75 10 L5 50 L145 50Z" fill="brown" stroke="#555555" stroke-width="1" />
        </svg>
    </div>

    <div class="five-houses-house" style="background: @colour;filter: drop-shadow(5px 5px 4px rgba(100,100,100,0.55));">
        <img src="@pet" alt="Pet" title="@petText" class="five-houses-icon" style="margin-bottom:12%;" />

        <img src="@drink" alt="Drink" title="@drinkText" class="five-houses-icon" />

        <img src="@car" alt="Car" title="@carText" class="five-houses-icon" style="margin-bottom:0%;" />
    </div>
</div>