
@page "/geniussquare"
@inherits GeniusSquareBase

<SolverLayout
    @ref="solverControl"
    Solver="@this"
    SelectedNavIndex="5" >

   <ParameterSection>

        <h2>Parameters</h2>

        <div class="parameters-block">
            <ParameterSlider Label="Random Seed" @bind-Value="@randomSeedSetting" Min="0" Max="255"/>

            <Button class="btn-sm" @onclick="@Update">REGENERATE</Button>
        </div>

    </ParameterSection>

    <ProblemSection>

        <p>The <a href="https://www.happypuzzle.co.uk/30cubed/genius-square" >Genius Square problem</a> asks the following question:</p>
        <blockquote>
            <p>How can we arrange the nine tetris-like blocks on the grid avoiding the blockers?</p>
        </blockquote>

        <h2>Approach</h2>
        <p>Each shape is encoded as three integers representing column, row and orientation.</p>
        <p>We evaluate the fitness by trying to place the shapes on the board. A shape is not placed if it
           overlaps an existing shape or a blocker.</p>
        <p>The total number of squares covered indicates how good a solution is.</p>

       <h2>Performance</h2>
       <p>This approach performs well on the 256 (out of a possible 
       <a href="https://mangosgaming.uk/portfolio/review-genius-square/">62,208</a>) cases that I have tested
          averaging a ~75% success rate for solving using the default parameters.</p>
       <p>The strategy attempts to place the more difficult shapes first and then the single and double unit
          shapes last.</p>
       <p>The hardest problems found are
            <a @onclick="@(() => Update(57))" style="text-decoration:underline; color:#0D658C;">57</a>,
            <a @onclick="@(() => Update(177))" style="text-decoration:underline; color:#0D658C;">177</a> and
            <a @onclick="@(() => Update(180))" style="text-decoration:underline; color:#0D658C;">180</a>.</p>

    </ProblemSection>

    <OutputSection>      

        <Card Padding="Padding.Is3" >
            <GeniusSquareBoard Values="@cellValues" Dice="@dice" />
        </Card>

    </OutputSection>

</SolverLayout>